<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" >
<head>
    <title>LearnSecurity - アカウント登録</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Merriweather&family=Zen+Antique&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accountCreate.css">
</head>
<body>
	<header class="container-fleld">
		<div class="col-12 row pt-3 pb-2">
			<div class="col-8">
				<h1 class="ml-5"><a href="/LearnSecurity/Home" id = "header_logo">XLS</a></h1>
			</div>
			<div class="col-4"></div>
		</div>
	</header>

</body>
</html>