<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" >
<head>
<title>LearnSecurity - ホーム</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/ihome.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
</head>
<body>
	<header class="container-fleld">
		<div class="col-12 row pt-3 pb-2">
			<div class="col-8">
				<h1 class="ml-5 head_title">XLS</h1>
			</div>
			<div class="col-4"></div>
		</div>
	</header>
	
	<main class="container">
		<h1 id = "conceptName" class="text-center mt-5">セキュリティについて<br><span>「知らない」より「知ろう」</span></h1>
	</main>

</body>
</html>