<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" >
<head>
<title>LearnSecurity - ホーム</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Merriweather&family=Zen+Antique&display=swap" rel="stylesheet">
</head>
<body>
	<header class="container-fleld fixed-top" th:include="header">
	</header>
	
	<main class="container w-auto h-auto">
		<div class="col-12 row">
			<div class="col-1"></div>
			<div class="col-10 text-center mt-5">
		    <span id = "small_title">セキュリティについて</span><br>
		    <div class="mt-4 mb-5"><span id = "bold_title">「知らない」を「学ぼう」</span></div>
		    
		    <div class="login_button"><a href = "/login" class="btn m-5">今から始める</a></div>
		    </div>
		    <div class="col-1"></div>
	    </div>
	</main>

</body>
</html>