<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" >
<head>
<title>LearnSecurity - インスタンス一覧</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/LessonStudy.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&family=Kaisei+Opti&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+JP&family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
</head>
<body>
	<header class="container-fleld fixed-top" th:include="header">
	</header>
	
	<div id = "master_box" class="container-field">
    <div class="d-flex row m-0 p-0 w-auto h-auto">
		<!-- メイン -->
        <div class="container col-10 main_box ml-5">
			<div class="border_box pt-2 pb-4 mt-5">
				<div class = "px-5 pt-5 pb-2 title-box">
					<h3 class="contentFile" th:text = "${lesson.lessonName}"></h3>
				</div>
				
				<!--メインーコンテンツ部分 -->
				<div class="row">
					<div class="col-2"></div>
					<div class="col-auto ReadMe">
						<div th:utext = "${lesson.content}"></div>
				    </div>
					<div class="col-4"></div>
				</div>
				
				<div class="row">
    				<div class="col-2"></div>
    				<div class="col-8 chainPractice mb-3">
						<h3 class="Practice-tag mt-5">関連実習</h3>
						<div class="mt-3" th:each="practice : ${lesson.relationPracticeList}">
						<a th:href="@{'/LearnSecurity/' + 'Practice/' + ${practice.practiceId}}" th:text = "${practice.practiceName}"></a><br>
						</div>
    				</div>
    				<div class="col-4"></div>
    			</div>
    			
			</div>
		</div>
	</div>
	 <!--ここからNavList include>>nav,html -->
     <div class="col-1 nav-list fixed-top ml-auto" th:include="nav">
     </div>
        
    </div>
    </div>
</main>
</body>
</html>