<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org/"
      xmlns:sec= "http://www.thymeleaf.org/extras/spring-security%22%3E">

<head>
    <title>LearnSecurity - ログイン</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Merriweather&family=Zen+Antique&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/btn.css">
</head>

<body>
    <header class="container-fluid">
       <div class="col-12 row pt-3 pb-2">
			<div class="col-8">
				<a id="head_link" href="/LearnSecurity/Mypage"><h1 class="ml-5 head_title">XLS</h1></a>
			</div>
			
			<div class="col-4 text-center align-center-item p-1">
			</div>
		</div>
    
                <!--
                <div class="col-4 text-right">
                    ユーザ認証済みなのであれば 
                    <th:block sec:authorize="isAuthenticated()">
                        <form method="post" th:action="@{/LearnSecurity/Logout}">
                            <button class="btn logbtn btn-primary mr-5" role="logout" type="submit">ログアウト</button>
                        </form>
                    </th:block>
                    ユーザ認証済みではないのであれば
                    <th:block sec:authorize="isAnonymous()">
                        <a class="btn logbtn btn-primary mr-5" th:href="@{/LearnSecurity/Login}" role="login">ログイン</a>
                    </th:block>
                </div>
                
            </div>
        </div>
        -->
    </header>
    <main>
        <div id="main_box " data-title="Login" class="h-100">

            <div class="container col-12">
                <div class="row justify-content-center ">
					<div class="col-auto"></div>
                    <div class="col-6 border_box">
                        <h2 id="content_name" class="my-4 text-center font-weight-bold">ログイン</h2>
                        <div th:if="${param.error}">
                            <span class="text-nowrap bd-highlight　text-center"
                                style="width: 10rem; color: #ff0000;">※ID、またはパスワードが間違っています</span>
                        </div>
                        <form th:action="@{/LearnSecurity/Login}" method="post">
                            <div class="form-group mt-3">
                                <label for="username" class="font-weight-bold">ユーザー名</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="password" class="font-weight-bold  mt-3">パスワード</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>

                            <div class="d-flex justify-content-center align-items-center mt-2">
                                <input type="submit" id="login" class="btn btn-white  font-weight-bold mt-4"
                                    value="ログイン">
                            </div>
                        </form>

                        <form th:action="@{/LearnSecurity/Account/Entry}" method="get">
                            <div class="d-flex justify-content-center align-items-center">
                                <input type="submit" id="login" class="btn btn-white  font-weight-bold mt-4"
                                    value="アカウントをお持ちではないですか？">
                            </div>
                        </form>
                    </div>
                    <div class="col-auto"></div>
                </div>
            </div>

        </div>
    </main>
    <!-- Bootstrap JS CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqyfFScvbHFLtbvScbFYYLb4I5Ry5jkkz6t0Uu7XwV+nUTJjF"
        crossorigin="anonymous"></script>

</body>

</html>