<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" >
<head>
<title>LearnSecurity - Mypage</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/Main.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&family=Kaisei+Opti&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+JP&family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
</head>
<body>
	<header class="container-fleld fixed-top" th:include="header">
	</header>
	
	<main>
    <div id = "master_box" class="container-field">
    <div class="d-flex row m-0 p-0 w-auto h-auto">
        <div class="container col-10 main_box">
				<h2 class="text-center m-4 p-2 welcome_name">おかえりなさい！testuserさん！</h2><br>
				
				<h3 class="content_name m-4 mt-5"><a href = "/LearnSecurity/Practice" style="color: black;">セキュリティ実習へ</a></h3>
				<h3 class="content_name m-4 mt-5"><a href = "/LearnSecurity/Practice" style="color: black;">セキュリティ講義へ</a></h3>
				
        </div>
        <!--colを調整するための余白-->
        <div class="col-1"></div>
        
        <!--ここからNavList -->
        <div class="col-1 nav-list fixed-top ml-auto" th:include="nav">
        </div>
        
    </div>
    </div>
</main>

</body>
</html>