<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" >
<head>
<title>LearnSecurity - Mypage</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/instanceList.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&family=Kaisei+Opti&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans+JP&family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<header class="container-fleld">
		<div class="col-12 row pt-3 pb-2">
			<div class="col-8">
				<h1 class="ml-5 head_title">XLS</h1>
			</div>
			
			<div class="col-4 text-center align-center-item p-1">
				<span class="userName">ユーザ名 : testuser</span>
			</div>
		</div>
	</header>
	
	<main>
    <div id = "master_box" class="container-field">
    <div class="d-flex row m-0 p-0 w-auto h-auto">
        <div class="container col-10 main_box">
				<h2 class="text-center m-4 p-2 contents_name">セキュリティ実習</h2>
				<div class="border_box pt-2 pb-4">
				<div class="bottom_box row justify-content-center">
					<div class="col-7 text-center Practice_name"><a><span>インスタンス名</span></a></div>
				</div>
				
				<div class="column_box row justify-content-center">
				</div>
				</div>
        </div>
        <!--colを調整するための余白-->
        <div class="col-1"></div>
        
        <!--ここからNavList -->
        <div class="col-1 nav-list">
            <ul class="list-unstyled"> <!-- Bootstrap リストスタイルを削除 -->
                <li class="nav-item">
                    <div class="Practice-nav text-center">
                        <img src="/img/鉄壁のセキュリティ.png" height="60" width="60" alt="PracticeSecurity Icon"><br>
                        <span class"nav-name">セキュリティ<br>実習</span>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="Study-nav text-center">
                        <img src="/img/積み重ねた本.png" height="60" width="60" alt="StudySecurity Icon"><br>
                        <span class"nav-name">セキュリティ<br>講義</span>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="Setting-nav text-center">
                        <img src="/img/歯車.png" height="60" width="60" alt="Settings Icon"><br>
                        <span class"nav-name">設定</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</main>

</body>
</html>