<ul class="list-unstyled"> <!-- Bootstrap リストスタイルを削除 -->
                <li class="nav-item">
                    <div class="Practice-nav text-center">
						<a href="/LearnSecurity/Practice">
                        <img src="/img/鉄壁のセキュリティ.png" class="nav-img" alt="PracticeSecurity Icon"><br>
                        <span class"nav-name">セキュリティ<br>実習</span>
                        </a>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="Study-nav text-center">
						<a href="/LearnSecurity/Lesson">
                        <img src="/img/積み重ねた本.png" class="nav-img"  alt="StudySecurity Icon"><br>
                        <span class"nav-name">セキュリティ<br>講義</span>
                        </a>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="Setting-nav text-center">
						<a href="/LearnSecurity/Settings">
                        <img src="/img/歯車.png" class="nav-img" alt="Settings Icon"><br>
                        <span class"nav-name">設定</span>
                        </a>
                    </div>
                </li>
</ul>