@charset "UTF-8";@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#create {
	color:white;
	font-family: 'Kiwi Maru', serif;
}

.contents_name{
	font-size: 56px;
	font-family: 'Kiwi Maru', serif;
	border-bottom: 4px solid;
}

.border_box {
    position: relative;
    padding: 2rem;
    border-radius: 15px;
    border: 3px solid gray;
    box-shadow: 10px 10px 0 gray;
    color: black;
}

.border_box p {
    line-height: 2;
}

.title-box{
	padding-bottom: 20px;
	border-bottom: #00ff00 solid 2px;
}

.contentFile{
	font-size: 46px;
	font-family: 'Kiwi Maru', serif;
	font-weight: bold;
}

.bottom_box{
	border-bottom: 3px solid gray;
	margin: 10px 50px;
}

.column_box{
	font-size: 20px;
	margin: 20px;
}

.column_box a {
	font-size: 28px;
	font-family: 'Kiwi Maru', serif;
}

.btn {
	font-size: 28px;
	font-family: 'Kiwi Maru', serif;
	font-weight: bold;
    --color: #00ff00;
    cursor: pointer;
    margin: 0.5rem;
    padding: 1rem 2rem;
    border: 1px solid var(--color);
    border-radius: 15px;
    background-image: linear-gradient(150deg, var(--color) 35%, transparent 50%);
    background-position: 100%;
    background-size: 300%;
    color: var(--color);
    text-decoration: none;
    transition: all 1s;
}
.btn:hover {
	font-family: 'Kiwi Maru', serif;
    background-position: 0;
    color: #fff;
}

.btn:active {
    box-shadow: 0 0;
}

.btn::before{
	color: #00ff00;
}

.ReadMe{
	font-family: 'Kiwi Maru', serif;
	font-size: 24px;
}

.ReadMe ol{
	margin-top: 5%;
	margin-left: 10%;
}

.ReadMe h1{
	margin-top: 5%;
	padding-bottom: 1%;
	border-bottom: #00ff00 solid 2px;
}

.ReadMe a, .ReadMe p{
	margin-top: 2%;
	font-size: 28px;
}

.ReadMe h2{
	font-weight: bold;
}


table{
	width: 100%;
    border-collapse: collapse;
	margin:6% 4%;
}

th {
    background-color: #00ff00;
    font-weight: bold;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

td {
    padding: 8px;
    border: 1px solid l#ddd
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.chainStudy{
	font-family: 'Kiwi Maru', serif;
	font-size: 22px;;
}

.Study-tag{
	font-size: 36px;
	padding-bottom: 1%;
	margin-right:4%;
	border-bottom: #00ff00 solid 2px;

}