@charset "UTF-8";

@keyframes fadeIn{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

#small_title{
	font-size: 48px;
	font-weight: 400;
    font-family: 'Zen Antique', serif;
    animation: fadeIn 3s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    transition: 1s;
}

#bold_title{
	font-size: 72px;
	font-weight: 400;
	font-family: 'Zen Antique', serif;
	animation: fadeIn 3s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
    transition: 1s;
}

.btn {
	font-size: 24px;
	font-family: 'Kiwi Maru', serif;
    --color: #00ff00;
    cursor: pointer;
    margin: 0.5rem;
    padding: 1rem 2rem;
    border: 1px solid var(--color);
    border-radius: 0;
    background-image: linear-gradient(150deg, var(--color) 35%, transparent 50%);
    background-position: 100%;
    background-size: 300%;
    color: var(--color);
    text-decoration: none;
    transition: all 1s;
}
.btn:hover {
	font-family: 'Kiwi Maru', serif;
	font-weight: bold;
	font-size: 36px;
    background-position: 0;
    border-radius: 15px;
    color: #fff;
}

.btn:active {
    box-shadow: 0 0;
}

.btn::before{
	color: #00ff00;
}