@charset "UTF-8";@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
	width: 800px;
	max-width: 100%;
	height: 400px;
	max-height: 100%;
}

table {
        border-collapse: collapse;
        width: 100%;
}

th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
}

.main_box {
	padding-bottom: 45px;
}

.border_box {
    position: relative;
    padding: 2rem;
    border-radius: 15px;
    border: 3px solid gray;
    box-shadow: 10px 10px 0 gray;
    color: black;
}

.border_box p {
    line-height: 2;
}

.ReadMe{
	font-family: 'Kiwi Maru', serif;
	font-size: 24px;
	line-height: 1.5;
	white-space: normal;
}

.ReadMe ol{
	margin-top: 5%;
	margin-left: 10%;
}

.ReadMe h1{
	margin-top: 5%;
	padding-bottom: 1%;
	border-bottom: #00ff00 solid 2px;
}

.ReadMe a, .ReadMe p{
	margin-top: 2%;
	font-size: 28px;
}

.ReadMe h2{
	font-weight: bold;
}

.bottom_box{
	border-bottom: 3px solid gray;
	margin: 10px 50px;
}

.title-box{
	padding-bottom: 20px;
	border-bottom: #00ff00 solid 2px;
}

.contentFile{
	font-size: 46px;
	font-family: 'Kiwi Maru', serif;
	font-weight: bold;
}

.btn {
	font-size: 28px;
	font-family: 'Kiwi Maru', serif;
	font-weight: bold;
    --color: #00ff00;
    cursor: pointer;
    margin: 0.5rem;
    padding: 1rem 2rem;
    border: 1px solid var(--color);
    border-radius: 15px;
    background-image: linear-gradient(150deg, var(--color) 35%, transparent 50%);
    background-position: 100%;
    background-size: 300%;
    color: var(--color);
    text-decoration: none;
    transition: all 1s;
}
.btn:hover {
    background-position: 0;
    color: #fff;
}

.btn:active {
    box-shadow: 0 0;
}

.btn::before{
	color: #00ff00;
}

.chainPractice{
	font-family: 'Kiwi Maru', serif;
	font-size: 22px;
}

.Practice-tag{
	font-size: 36px;
	padding-bottom: 1%;
	margin-right:4%;
	border-bottom: #00ff00 solid 2px;
}

/* PCメディアクエリ */
@media only screen and (min-width: 1200px) {
    img {
        width: 100%; /* 画面幅に合わせて拡大縮小 */
        height: auto; /* アスペクト比を保つ */
        max-width: 1000px; /* 画像の最大幅を指定 */
        max-height: none; /* max-heightを解除 */
    }

    /*PC向けのスタイル調整 */
    .main_box {
        padding-bottom: 60px;
    }

    .border_box {
        padding: 3rem;
    }

    .ReadMe ol {
        margin-left: 15%;
    }

    /* 他にも必要なスタイルの調整を追加 */
}
