@charset "UTF-8";

#content_name{
	font-family: 'Kiwi Maru', serif;
	font-size: 42px;
	border-bottom: 5px solid #00ff00;
	margin-bottom: 25px;
}

main{
	font-family: 'Kiwi Maru', serif;
	font-size: 24px;
}

.btn {
	font-size: 20px;
	font-family: 'Kiwi Maru', serif;
    --color: #00ff00;
    cursor: pointer;
    margin: 0.5rem;
    padding: 10px 20px;
    border: 1px solid var(--color);
    border-radius: 5px;
    background-image: linear-gradient(150deg, var(--color) 35%, transparent 50%);
    background-position: 100%;
    background-size: 300%;
    color: var(--color);
    text-decoration: none;
    transition: all 1s ease;
}
.btn:hover {
	transform: scale(1.1);
	font-family: 'Kiwi Maru', serif;
	font-weight: bold;
	font-size: 24px;
    background-position: 0;
    border-radius: 20px;
    color: #fff;
}

.border_box{
    position: relative;
    padding: 2rem;
    border-radius: 15px;
    border: 3px solid gray;
    box-shadow: 10px 10px 0 gray;
    color: black;
    margin-top:4em;
}

.form-group{
	margin: 0 6em;
}

