@charset "UTF-8";

ul{
	margin: 0;
}

ul li{
	margin: 82.5% 0;
}

.nav-list{
	background-color: gray;
	margin-top:5%;
	font-size: 16px;
	color: white;
	font-family: 'Kiwi Maru', serif;
	z-index: -1;
}

.nav-list a {
	color: white;
}

.nav-item img{
	margin: 10px 0;
}