/*nav.html */

.nav-list {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto; /* スクロールバーを表示するように */
  background-color: gray;
  font-size: 16px;
  font-family: 'Kiwi Maru', serif;
  z-index: 1000;
  padding-top: 150px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 50px 0; /* リストアイテム間の余白の調整 */
}

.nav-item a {
	color: white;
}

/* 既存のホバー時のスタイル */
.nav-item a:hover {
  text-decoration: none;
  opacity: 0.2;
  transition: opacity 0.5s ease;
}

/* ホバー解除時のスタイル */
.nav-item a:not(:hover) {
  opacity: 1;
  transition: opacity 0.5s ease;
}