@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_box {
	padding-bottom: 45px;
}

#create {
	color:white;
	font-family: 'Kiwi Maru', serif;
}

.contents_name{
	font-size: 56px;
	font-family: 'Kiwi Maru', serif;
	border-bottom: 4px solid;
}

.create_button{
	font-size: 20px;
	color:white;
}

.Practice_box{
	border: solid 3px gray;
	border-radius: 10px;
}

.Practice_name{
	font-size: 32px;
	font-family: 'Kiwi Maru', serif;
	font-weight: bold;
}

.border_box{
	border: 3px solid gray;
	border-radius: 12.5px;
}

.bottom_box{
	border-bottom: 3px solid gray;
	margin: 10px 50px;
}

.column_box{
	font-size: 20px;
	margin: 20px;
}

.column_box a {
	font-size: 28px;
	font-family: 'Kiwi Maru', serif;
}

.pagenation {
	list-style-type:none;
}